{% extends 'base.html.twig' %}

{% block title %}Edit Relation{% endblock %}

{% block body %}
    <h1>Edit Relation</h1>

    {{ include('relation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_relation_index') }}">back to list</a>

    {{ include('relation/_delete_form.html.twig') }}
{% endblock %}
