{% extends 'base.html.twig' %}

{% block title %}New Relation{% endblock %}

{% block body %}
    <h1>Create new Relation</h1>

    {{ include('relation/_form.html.twig') }}

    <a href="{{ path('app_relation_index') }}">back to list</a>
{% endblock %}
