{% extends 'base.html.twig' %}

{% block title %}Relation{% endblock %}

{% block body %}
    <h1>Relation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relation.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_relation_index') }}">back to list</a>

    <a href="{{ path('app_relation_edit', {'id': relation.id}) }}">edit</a>

    {{ include('relation/_delete_form.html.twig') }}
{% endblock %}
